venv
backend/.DS_Store
.DS_Store
backend/pdf/output/*
backend/.env
backend/gpt/__pycache__/*
backend/translate/__pycache__/translate.cpython-310.pyc
backend/pdf/__pycache__/pdfReplace.cpython-310.pyc
